<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203647934604-dvfq97ofcv8l4pk4bjqe583l8j4tbb66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203647934604-dvfq97ofcv8l4pk4bjqe583l8j4tbb66</string>
	<key>API_KEY</key>
	<string>AIzaSyAat143AK7EENsRKBMoA21RStDL9wiItLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203647934604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rozo.dsvWatersocial</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-9e215</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-9e215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203647934604:ios:902fd2392886fe993a5ba9</string>
</dict>
</plist>